.cards{
  /* display: flex; */
  padding: 70px;
  padding-bottom: 10px;
}
.cards__list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  /* justify-self: center; */
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 270px);
  column-gap: 20px;
  row-gap: 38px;
}

