.movies__more-btn{
  width: 100%;
  background: #2F2F2F;
  border: none;
  border-radius: 6px;
  height: 36px;
  padding: 0;
  margin: 50px auto 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}
.movies__status{
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 20px;
}